@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Mouse Memoirs';
    background-repeat: no-repeat;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

nav {
  background-color: #1F1F1F;
  color: #FFF;
}

nav a {
  color: #FFF;
}

h1 {
    font-size: 48px;
}

.img-responsive {
  width: 100%;
}

@media (max-width: 768px) {
    html,
    body {
        height: auto;
    }
}